body {
	margin: 0;
}

.app {
	border: .1rem solid #d4d4d4;
	border-radius: .5rem;
	margin: 15vh 3vw;
	padding: 10vh 5vw;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col {
	border: .1rem solid #ededed;
	border-radius: .3rem;
	margin-right: .6rem;
	display: block;
	flex-wrap: wrap;
	padding: 0.6rem;
	text-align: center;
}

.col:last-child {
	margin-right: 0;
}

.col p {
	color: #9a9a9a;
	font-size: 1rem;
	font-family: arial;
	padding: 0 6vw;
}
.col p.victory{
    font-size:2rem;
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
}
.btn {
	background-color: #5ba717;
	border: .1rem solid #427118;
	border-radius: .2rem;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: .9rem;
	padding: .6rem;
	text-transform: capitalize;
	margin: 1rem auto;
	outline: none;
}

.btn.pulse2 {
	background-color: #3e720e;
	border: border:.3rem solid #1e3806;
	pointer-events: none;
}

.form-control {
	border: .1rem solid #ededed;
	border-radius: .2rem;
	padding: .5rem;
	font-size: 1.5rem;
	text-align: center;
	width: 20%;
}

header {
	background-image: url("header_banner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
	height: 11rem;
	margin-bottom: 2rem;
}

.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;
	-ms-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

.shake {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	background-color: #fff;
	border: .1rem solid red;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes "pulse" {
	0% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-moz-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes "pulse" {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@media (max-width: 600px) {
	header {
		height: 8.5rem;
	}
	.row {
		display: block;
	}
	.col {
		min-width: 100%;
		padding: 0;
		margin-right: 0;
		margin-bottom: 1.5rem;
	}
}
